{{ '2018-2019 ©' ~ ' ' ~ 'ui.administration_dashboard'|trans([], 'DashboardBundle') ~ ' ' ~ 'ui.by'|trans([], 'DashboardBundle') ~ ' ' }}
&nbsp;<a data-toggle="kt-tooltip" data-placement="top" data-original-title="Ihor Drevetskyi" rel="nofollow"
         href="https://www.facebook.com/ihor.drevetskyi" target="_blank" class="kt-link">
    Ihor Drevetskyi
</a>