<a data-toggle="kt-tooltip" data-placement="top" data-original-title="Ihor Drevetskyi" rel="nofollow"
   href="https://www.facebook.com/ihor.drevetskyi" target="_blank" class="kt-footer__menu-link kt-link">
    <img src="{{ asset('bundles/dashboard/assets/media/icons/svg/Communication/Chat6.svg') }}"/>
</a>