{% if path is not null %}
    <a title="{{ 'ui.action.action_list'|trans([], 'DashboardBundle') }}" href="{{ path }}"
       class="btn btn-sm btn-secondary m-btn m-btn--custom m-btn--icon m-btn--wide m-btn--md m--margin-right-10">
        <span title="{{ 'ui.action.action_list'|trans([], 'DashboardBundle') }}">
            <i class="flaticon-reply"></i>
        </span>
    </a>
{% endif %}