<div class="kt-portlet__head-toolbar">
    {% include '@Dashboard/default/crud/new_edit/_back_to_list.html.twig' with {'path': routeForGetElementsForIndex} %}
    {% include '@Dashboard/default/crud/new_edit/_delete_entity.html.twig' %}
    {% include '@Dashboard/default/crud/new_edit/_create_save_button.html.twig' %}
</div>