{% include '@Dashboard/default/crud/list/_actions_edit_delete.html.twig' %}
<br>
{#<a href="{{ path('dashboard_news_quiz_index', {'news': news}) }}"#}
   {#class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"#}
   {#title="{{ 'ui.quizzes'|trans([], 'DashboardBundle') }}">#}
    {#<i class="flaticon-list"></i>#}
{#</a>#}