<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">
    <!-- begin:: Header Menu -->
    {% include '@Dashboard/templates/1/header/menu/_menu.html.twig' %}
    <!-- end:: Header Menu -->
    <!-- begin:: Header Top bar -->
    {% include '@Dashboard/templates/1/header/top_bar/_top_bar.html.twig' %}
    <!-- end:: Header Top bar -->
</div>