{% for item in elements %}
    {% include 'news/_element.html.twig' with {
        'item': item,
    } %}
{% else %}
    <div class="page-title">
        По вашему запросу нет рeзультатов.
    </div>
{% endfor %}
{% if isKnpPaginationRender == true %}
    {{ knp_pagination_render(elements) }}
{% endif %}
