<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, follow"/>
</head>
<body>
{% include 'opinion/_paginated_elements.html.twig' %}
</body>
</html>
