<div class="quiz">
	<div class="quiz__content" id="quiz__result">
		<h4 class="quiz__title">{{ quiz.translate.title }}</h4>
	    <ul class="quiz__result-list Pt(1rem)">
	    	{% for item in quiz.getQuizOptions() %}
		        <li class="quiz__result">
		        	<span class="quiz__text">{{ (votes_cnt[item.getId()] * 100 / votes_cnt.total)|number_format }}%</span>
                    <div class="quiz__progress-holder W(100%) Ml(1rem)">
                    	<span class="quiz__progress-back"></span>
                    	<span class="quiz__progress" data-prc="{{ votes_cnt[item.getId()] * 100 / votes_cnt.total }}%"></span>
                    	<span class="quiz__result-text Ml(1rem)">{{ item.translate.title }}</span>
                    </div>
                </li>
	    	{% endfor %}
	    </ul>
	</div>
</div>