{% if pageCount > 1 %}
    {% if next is defined %}
        <span id="inf-load-next" class="hidden">
            <a href="{{ path(route, {
                'page': next,
                'countInPage': query['countInPage']
            }) }}">
            </a>
        </span>
    {% endif %}
{% endif %}