Подтверждение регистрации на сайте!

<p>Для завершения процесса регистрации подтвердите ваш адрес электронной почты, щелкнув по ссылке ниже:
    <a href="{{ confirmationUrl }}"> Подтвердить адрес электронной почты</a>.
</p>
<p>
    Эта ссылка может быть использована только единожды для подтверждения вашей
    учетной записи.
</p>

