@import "vars";
@import "grid/bootstrap-grid";
@import "mixins";
@import "fonts";
@import "libs";
@import "modules/modules";
@import "base";
@import "reset";
@import "animate";

.lazy-container {
  $this: &;
  &:not(#{$this}--loaded) {
    padding-bottom: 62.5%;
    background: url(../img/icons/loader.svg) center center no-repeat;
  }
}

.lazy {
  &--loaded {
    animation: fadeIn .4s;
  }
}

.svg-icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.default-link {
  font: cRem(18px) $font-stack-georgia;
  text-decoration: underline;
  color: $default-link-color;
  &:hover {
    color: $primary-color;
  }
}

.page {
  &__header {
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
  }

  &__title {
    font: cRem(40px)/1em $font-stack-georgia;
    color: $primary-color;
    @include lg() {
      font-size: cRem(56px);
    }
  }

  &__subtitle {
    font: 900 cRem(28px) "MuseoSans";
    color: $blue-color;
    text-align: center;
    text-transform: uppercase;
  }

  &__sub-subtitle {
    font: 900 cRem(18px) "MuseoSans";
    text-transform: uppercase;
    letter-spacing: cRem(1px);
    color: $grey-color;
    padding-bottom: cRem(5px);
    margin: 2em 0;
    position: relative;

    &::before {
      @include pseudo();
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $red-color;
      @include from-xs-to-lg() {
        width: 100%;
      }
      @include lg() {
        width: cRem(256px);
      }
    }
  }

  a .page__sub-subtitle {
    transition: all 0.4s;
    &:hover {
      color: #333;
      transition: all 0.4s;
    }
  }
  &__footer {
    margin-top: 3rem;
  }
}

.breadcrumbs {
  font: 500 cRem(12px) "MuseoSans";
  text-transform: uppercase;
  letter-spacing: cRem(1px);
  @include lg() {
    padding: 2rem 0 0 cRem(40px);
  }
  &__item {
    display: inline;
  }
  &__link {
    color: $grey-color;
    &:hover {
      color: $secondary-color;
    }
  }
  &__icon {
    width: cRem(16px);
    height: cRem(16px);
    vertical-align: middle;
    position: relative;
    top: cRem(-2px);
  }
  &__text {
    color: $primary-color;
  }
}

.quote {
  &__text {
    font: italic cRem(15px)/cRem(23px) $font-stack-georgia;
  }
}

.hero[data-href] {
  cursor: pointer;
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFF;
  position: relative;
  z-index: 0;
  @include from-xs-to-lg() {
    height: 26rem;
  }
  @include lg() {
    height: cRem(512px);
  }
  &__time {
    font: 700 1rem "MuseoSans";
    display: inline-block;
    margin-top: 1.5rem;
  }
  &__title {
    font: cRem(40px)/1em $font-stack-georgia;
    margin: 0.5em 0;
    display: block;
    color: #ffffff;
    &:hover {
      color: #cfcfcf;
    }
    @include lg() {
      font-size: cRem(48px);
    }
  }
  &__text {
    line-height: 1.35em;
    font-family: $font-stack-georgia;
    @include lg() {
      font-size: cRem(20px);
    }
  }
  &::before {
    @include pseudo();
    background: url(../img/hero-layout-bg.png);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.hero-slider {
  width: 100%;
  &--fluid--left {
    @include lg() {
      $container-width: map-get($container-max-widths, $key: lg);
      margin-left: calc((#{$container-width} - 100vw) / 2);
      width: calc(100% + ((100vw - #{$container-width}) / 2));
    }
    @include xl() {
      $container-width: map-get($container-max-widths, $key: xl);
      margin-left: calc((#{$container-width} - #{$grid-gutter-width} - 100vw) / 2);
      width: calc(100% + ((100vw - #{$container-width}) / 2));
    }
  }
  &--offset--right {
    @include lg() {
      $container-width: map-get($container-max-widths, $key: lg);
      width: calc(100% + ((100vw - #{$container-width}) / 2) + #{$grid-gutter-width});
    }
    @include xl() {
      $container-width: map-get($container-max-widths, $key: xl);
      width: calc(100% + ((100vw - #{$container-width}) / 2) + #{$grid-gutter-width * 2});
    }
  }
  .owl-item {
    &::after {
      content: "";
      @include center('both');
      background-image: url(../img/icons/loader.svg);
      width: cRem(48px);
      height: cRem(48px);
      z-index: -1;
    }
  }
  .hero {
    padding: cRem(40px) $grid-gutter-width/2 0;
    @include lg() {
      $container-width: map-get($container-max-widths, $key: lg);
      padding-left: calc((100vw - #{$container-width} + #{$grid-gutter-width}) / 2);
      margin-right: -$grid-gutter-width + 30px;
      padding-right: 40px;
    }
    @include xl() {
      $container-width: map-get($container-max-widths, $key: xl);
      padding-left: calc((100vw - #{$container-width} + #{$grid-gutter-width}) / 2);
    }
  }
  &.no-slide-bg .hero::before {
    display: none;
  }
  .hero__title,
  .hero__text,
  .label {
    opacity: 0;
  }
  .active {
    .label {
      animation: fadeInUp 1.4s .2s both;
    }
    .hero__title {
      animation: fadeInUp 1.4s .2s both;
    }
    .hero__text {
      animation: fadeInUp 1.4s .2s both;
    }
  }
}

.slider {
  .owl-nav {
    @include absolute(top 1rem right 1rem);
    .svg-icon {
      @include box(1.5rem, 1.5rem);
    }
  }
  .owl-prev {
    margin-right: cRem(12px);
  }
  .owl-prev,
  .owl-next {
    border-radius: 50%;
    border: 2px solid #FFF;
    color: #FFF;
    &:not(.disabled):hover {
      color: #cfcfcf;
      border-color: #cfcfcf;
    }
  }
  .disabled {
    opacity: .5;
  }
}

.last-news {
  &__item ~ &__item {
    margin-top: cRem(8px);
    border-top: cRem(1px) solid $blue-color;
  }
}

.news-item {
  $this: &;
  position: relative;
  padding: cRem(10px) 0;
  font-family: MuseoSans;
  &__img-wrap {
    display: block;
    margin-bottom: cRem(16px);
    overflow: hidden;
    margin-top: cRem(-10px);
    &:hover #{$this}__img {
      transform: scale3d(1.15, 1.15, 1.15);
    }

    &--empty {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        opacity: .3;
        background-color: #333333;
      }

      .news-item__img {
        height: 210px;
        width: auto;
        margin: 0 auto;
        display: block;
        opacity: .6;
      }
    }
  }
  &__img-wrap {
    position: relative;
    padding-bottom: 56.2%;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .35s;
    
  }
  &__date {
    flex-shrink: 0;
    margin-right: cRem(16px);
  }
  &__title {
    font: cRem(14px) $font-stack-georgia;
    color: #000;
    line-height: 1.5;
    &:hover {
      color: $primary-color;
    }
  }
  &__text {
    font: cRem(12px)/cRem(18px) MuseoSans;
  }
  &__label {
    position: absolute;
    left: 0;
    top: 25px;
  }
}

.news-category {
  &__item {
    @include lg(){
      display: flex;
    }
  }

  &__img-wrap {
    @include lg(){
      width: 25%;
      height: 130px;
      padding: 0;
      flex-shrink: 0;
    }
  }

  &__text {
    margin: 0 1rem;
    width: 100%;
    @include lg() {
      flex-direction: column;
    }  
  }
}

.news-date {
  font: 500 cRem(12px) "MuseoSans";

  span {
    display: block;
  }
}

.label {
  font: 900 cRem(12px)/2.65em "MuseoSans";
  height: 2.5em;
  background-color: $red-color;
  padding: 0 1.15em;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: cRem(1px);
  display: inline-block;
  &:hover {
    background-color: darken($red-color, 10%);
  }
  &--small {
    font-size: cRem(10px);
  }
}

.bnnr {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  text-align: center;
}

.video-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.opinions {
  &__item ~ &__item {
    margin-top: cRem(32px);
  }
}

.opinion {
  $this: &;
  display: flex;
  &:hover {
    #{$this}__img-wrap {
      &::before {
        background-color: darken($red-color, 10%);
      }
    }
    #{$this}__img {
      transform: rotate(-45deg) scale3d(1.2, 1.2, 1.2);
    }
  }
  &__author {
    font: 700 cRem(16px) "MuseoSans";
    text-transform: uppercase;
    letter-spacing: cRem(1px);
    color: #000000;
  }
  &__text {
    font: cRem(16px)/cRem(20px) $font-stack-georgia;
  }
  &__img-wrap {
    transform: rotate(45deg);
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    flex-shrink: 0;
    margin: -15px 15px 0 0;
    &::before {
      @include pseudo();
      width: 70px;
      height: 70px;
      background-color: $red-color;
      border-radius: 10px;
      top: 20px;
      left: 20px;
      transition: background-color .35s;
    }
  }
  &__img {
    position: absolute;
    transform: rotate(-45deg);
    bottom: -10px;
    left: 10px;
    height: 90px;
    transition: transform .35s ease;
  }
}

.videos {
  &__item {
    margin-bottom: cRem(32px);
  }
}

.infographics-item {
  padding: cRem(34px) 0 cRem(30px) cRem(16px);
  display: flex;
  align-items: flex-start;

  &:first-child {
    padding-top: cRem(20px);
  }

  &__img-wrap {
    position: relative;
    flex-shrink: 0;
    margin: cRem(16px) cRem(32px) 0 0;

    &::before {
      @include pseudo();
      background-color: $blue-color;
      border-radius: 10px;
      transform: rotate(45deg) translate(-50%, -50%);
      width: 70px;
      height: 70px;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform-origin: 0 0;
    }

    &:hover {
      &::before {
        background: linear-gradient(to bottom, #1D9CD8, #194382);
      }
    }

  }
  &__img {
    width: 50px;
  }
  &__text {
    color: #000;
    font: 700 cRem(16px)/cRem(22px) MuseoSans;
    transition: all 0.4s;

    &:hover {
      color: $primary-color;
      transition: all 0.4s;
    }
  }
}

.date {
  font-family: $font-stack-verdana;
  color: $primary-color;
  text-transform: uppercase;
  &__day {
    font-size: cRem(16px);
    line-height: cRem(26px);
  }
  &__date {
    font-size: cRem(28px);
  }
}

.socials {
  $this: &;
  &--theme-blue {
    #{$this}__link {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
  &--theme--white {
    #{$this}__link {
      color: #FFF;
      border-color: #FFF;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
  }
  &__item {
    margin: {
      right: 1rem;
      bottom: 1rem;
    }
  }
  &__link {
    display: inline-block;
    border-radius: 50%;
    border-width: cRem(1.5px);
    border-style: solid;
    width: cRem(32px);
    height: cRem(32px);
    position: relative;
    color: $primary-color;
    &:hover {
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }
  &__icon {
    width: cRem(16px);
    height: cRem(16px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.sidebar {
  &--with-padding {
    @include lg() {
      padding-top: 5rem;
    }
  }
  &__date {
    @include lg() {
      margin-bottom: cRem(32px);
      padding-left: $grid-gutter-width * 1.5;
    }
  }
  &__socials {
    margin-bottom: cRem(16px);
    padding-left: $grid-gutter-width * 1.5;
  }
  &__logo {
    padding-left: $grid-gutter-width * 1.5;
    margin-bottom: cRem(16px);
  }
  &__bnnr {
    position: relative;
    z-index: 1;
    margin-top: cRem(32px);
  }
}

.bnnr-section {
  padding: cRem(16px) 0;
}

.static-content {
  line-height: 1.5;
  h2 {
    font-family: $font-stack-georgia;
    font-weight: 400;
    color: $blue-color;
  }
  >p {
    font-size: cRem(14px);
    text-align: justify;
  }
  p {
    font-family: $font-stack-georgia;
  }
  blockquote {
    background: url("../img/quotes-left.svg") no-repeat;
    background-size: 48px;
    min-height: 48px;
    padding-left: 64px;
    font-style: italic;
    color: $secondary-color;
    margin: {
      left: 0;
      right: 0;
    }
    p {
      margin-top: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  img {
    height: auto;
    margin: 10px 0;
  }
}

.main-sidebar {
  &__bnnr {
    @include from-xs-to-lg() {
      margin-top: cRem(32px);
    }
    @include lg() {
      margin-top: cRem(-72px);
    }
  }
}

.comment {
  display: flex;
  &__img-wrap {
    width: cRem(64px);
    height: cRem(64px);
    border-radius: cRem(16px);
    overflow: hidden;
    flex-shrink: 0;
    margin-right: cRem(16px);
    border: cRem(4px) solid $blue-color;
    position: relative;
    &--with-img {
      background-color: $yellow-color;
    }
    &--without-img {
      background: linear-gradient(to right, rgba(228, 0, 57, 1) 0%, rgba(227, 6, 21, 1) 100%);
    }
  }
  &__img {
    width: cRem(64px);
    height: cRem(64px);
    object-fit: cover;
  }
  &__initials {
    @include center('both');
    font: 900 cRem(22px) "MuseoSans";
    color: #FFF;
  }
  &__author {
    font: 900 cRem(12px) "MuseoSans";
    color: $grey-color;
    text-transform: uppercase;
    padding: 0 cRem(48px) cRem(4px) 0;
    border-bottom: cRem(1px) solid $primary-color;
    letter-spacing: cRem(1px);
    display: inline-block;
  }
  &__date {
    font: 500 cRem(10px) "MuseoSans";
    color: $primary-color;
  }
  &__text {
    font: cRem(12px)/cRem(20px) $font-stack-verdana;
    color: $primary-color;
  }
}

.comments {
  &__item ~ &__item {
    margin-top: cRem(16px);
  }
}

.form {
  &__group ~ &__group {
    margin-top: cRem(16px);
  }
  &__input {
    background-color: rgba($primary-color, .1);
    width: 100%;
    border-width: 0;
    padding-left: cRem(16px);
    padding-right: cRem(16px);
    &--line--single {
      height: cRem(40px);
    }
    &--line--multi {
      height: cRem(80px);
      padding-top: cRem(16px);
    }
  }
  &__label {
    font: 500 cRem(12px) "MuseoSans";
    color: $primary-color;
    text-transform: uppercase;
    margin-bottom: cRem(6px);
    display: inline-block;
  }
}

.single-news {
  &__comments {
    margin-top: cRem(32px);
  }

  &__slider {
    margin-top: cRem(32px);
    margin-bottom: cRem(32px);
  }

  &__share {
    display: flex;
    flex-wrap: wrap;
    margin-top: cRem(20px);
    margin-bottom: cRem(20px);

    .ya-share2__link {
      pointer-events: none;
    }
  }
}

.sitemap {
  font: 700 cRem(14px)/cRem(20px) "MuseoSans";
  text-transform: uppercase;
  @include from-xs-to-lg() {
    text-align: center;
  }
  &__list {
    @include lg() {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    margin-top: 1rem;
    @include lg() {
      margin-right: 2rem;
    }
  }
  &__link {
    color: #FFF;
    &:hover {
      color: lighten($secondary-color, 20%);
    }
  }
}

.quiz {
  padding: 40px 25px;
  background-color: #ffffff;
  box-shadow: 3px 3px 7px 0px rgba(85, 85, 85, 0.55);
  font-family: "MuseoSans";
  margin-bottom: 40px;

  &__content {
    padding: 0 20px;
    &--disabled {
      display: none;
    }
  }

  &__title {
    font-size: cRem(24px);
    padding: 0;
    margin: 0;
  }

  &__container {
    margin-top: 10px;
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    padding-left: 39px;
    line-height: 28px;

    &:first-child {
      margin-top: 40px;
    }
  }

  /* Hide the browser's default radio button */
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  &__container:hover input ~ &__checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  &__input:checked ~ &__checkmark {
    background-color: $primary-color;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  &__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  &__container input:checked ~ &__checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  &__checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  &__result {
    display: flex;
    margin: 1rem 0;
    height: 1.5rem;
  }

  &__progress-holder {
    position: relative;
    border-radius: 0.2rem;
  }

  &__progress-back {
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background: #cfcfcf;
  }

  &__text {
    display: inline-flex;
    align-items: center;
    min-width: 2rem;
  }
  &__result-text {
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    @include absolute(top 0 left 0);
  }

  &__progress {
    top: 0;
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    background: $secondary-color;
  }
  
  &__submit {
    display: block;
    margin: 30px auto 0;
    font: 700 0.875rem/3.125rem "MuseoSans";
    background-color: #1D9CD8;
    text-transform: uppercase;
    border-width: 0;
    border-radius: 2rem;
    color: #FFF;
    height: 3rem;
    padding: 0 3rem;

    &:hover {
      background-color: #194382;
    }

    &[disabled="disabled"] {
      opacity: .7;
      cursor: default;

      &:hover {
        background-color: #1D9CD8;
      }
    }
  }
}


.mnu-overlay {
  @include lg() {
    background-color: #333;
    opacity: 0;
    z-index: 100;
    transition: 0.4s all;

    &--show {
      display: block;
      opacity: .7;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: 0.4s all;
    }
  }
}

#slider-signature {
    font-style: italic;
    color: #969191;
    position: relative;
    top: -15px;
    border-bottom: 1px dashed;
}

@include xl() {
  #slider-signature {
    margin-right: 22px;
  }
}

.rss-news .news-item__title {
  font-size: 1.3rem;
}