<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
    <div class="kt-footer__copyright">
        {{ render(controller('BackendBundle\\Controller\\Dashboard\\DashboardConfig::renderFooterCopyRight')) }}
    </div>
    <div class="kt-footer__menu">
        {#<a href="http://keenthemes.com/metronic" target="_blank"#}
           {#class="kt-footer__menu-link kt-link">About</a>#}
        {#<a href="http://keenthemes.com/metronic" target="_blank"#}
           {#class="kt-footer__menu-link kt-link">Team</a>#}
        {{ render(controller('BackendBundle\\Controller\\Dashboard\\DashboardConfig::renderFooterSupportCenter')) }}
    </div>
</div>