{% if useGroupFields == true %}
<div class="row">
    {% endif %}
    {% for element in form %}
        {% if
            element.vars.name != 'translations' and element|length > 0
            and element.parent.vars.useGroupFields is not defined or
            (element.parent.vars.useGroupFields is defined and element.parent.vars.useGroupFields == true)
            or (element.vars.useGroupFields is defined and element.vars.useGroupFields == true) %}
            {% if element|length > 1 %}
                <div class="row">
            {% endif %}
            {% for item in element %}
                {% if element|length > 1 %}
                    <div class="col-lg-{{ 12 / element|length }}">
                {% endif %}
                {{ form_widget(item) }}
                {% if element|length > 1 %}
                    </div>
                {% endif %}
            {% else %}
                <div class="col-lg-{{ 12 / form|length }}">
                    {{ form_widget(element) }}
                </div>
            {% endfor %}
            {% if element|length > 1 %}
                </div>
            {% endif %}
        {% else %}
            {% if
                'dashboard_collection' not in element.vars.block_prefixes and
                'dashboard_choice' not in element.vars.block_prefixes and
                'dashboard_select2_entity' not in element.vars.block_prefixes and
                element.vars.name != 'translations' and element|length > 0 %}
                {% for item in element %}
                    {{ form_widget(item) }}
                {% endfor %}
            {% else %}
                {{ form_widget(element) }}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if useGroupFields == true %}
</div>
{% endif %}