<div class="form-group form-group-marginless kt-margin-t-20 row">
    {{ form_label(field, label|default(null), {'label_attr': {'class': labelLg~ ' col-form-label'}}) }}
    <div class="col-lg-12">
        {{ form_widget(field) }}
    </div>
</div>