{% extends 'base.html.twig' %}

{% block main %}
	<br>
	<div class="container text-center">
		<h2>Ищете что-то интересное на нашем сайте?<br><br>К сожалению, страница, которую Вы запрашиваете, не существует…</h2>
	</div>
{% endblock %}