<div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x"
     style="background-image: url({{ asset('bundles/dashboard/assets/media/misc/bg-1.jpg') }})">
    <div class="kt-user-card__avatar">
        <img class="kt-hidden" alt="Pic" src="{{ asset('bundles/dashboard/assets/media/users/default.jpg') }}"/>

        <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
        <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">
            {{ app.user.email|slice(0,1) }}
        </span>
    </div>
    <div class="kt-user-card__name">
        {{ app.user.email }}
    </div>
    {#<div class="kt-user-card__badge">#}
        {#<span class="btn btn-success btn-sm btn-bold btn-font-md">#}
            {#23 messages#}
        {#</span>#}
    {#</div>#}
</div>
