{% if data.subject %}
	<div>ИМЯ И ФАМИЛИЯ: <b>{{ data.name }}</b></div>
{% endif %}
{% if data.subject %}
	<div>ТЕМА: <b>{{ data.subject }}</b></div>
{% endif %}
<div>EMAIL: <b>{{ data.email }}</b></div>
<p>ТЕКСТ СООБЩЕНИЯ: <b>{{ data.text }}</b></p>