<h1>
    {% include '@Seo/frontend/_h1.html.twig' %}
</h1>

Письмо отправлено на адрес {{ user.email }}.
<br>
Оно содержит ссылку, при переходе по которой ваш пароль будет сброшен.
<br>
Если вы не получили письмо, проверьте папку Спам или попробуйте снова.
